<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <li>Buy food</li>
      <li>cook food</li>
      <li>Eat the food</li>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem" />
      <button type="sumbit">ADD</button>
    </form>
  </body>
</html>
